/* largura de 768px (dispositivos móveis) */
@media only screen and (max-width: 768px) {


    
  
  }
  
  /* largura de 769px e 1024px (tablets) */
  @media only screen and (min-width: 769px) and (max-width: 1024px) {
  


  }
  
  /* largura de de 1024px (desktops) */

  @media only screen and (min-width: 1025px) {
    body {
        background-color: #f00101;
      }
    
  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  }
  
  /* Estilos para a barra de navegação */
  .navbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #f00101; /* Cor de fundo da barra de navegação */
      padding: 10px; /* Espaçamento interno */
      font-family: "Inter , sans serif";
      font-size: 15px;
  }
  
  /* Estilos para o logo */
  .logo img {
      max-width: 100%;
      height: auto;
  }
  
  /* Estilos para o menu */
  .menu {
      list-style-type: none; /* Remover marcadores de lista */
      display: flex;
  }
  
  .menu li {
      margin-right: 150px; /* Espaçamento entre os itens do menu */
  }
  
  .menu li:last-child {
      margin-right: 20px; /* Remover margem direita do último item */
  }
  
  .menu li a {
      text-decoration: none;
      color: white; /* Cor do texto do menu */
  }
  
  main{
      background: black;
  }
  .quemSomos {
      font-family: "Inter , sans serif";
      font-size: 15px;
      display: flex;
      align-items: center;
      background-color: white;
      color: black;
      position: relative;
      text-align: left;
      padding-bottom: 100px;
  }
  .quemSomos img{
      display: inline-block;
      width: 695px;
      margin-top: 100px;
      margin-left: 60px;
      margin-right: 100px; /* Espaço entre a imagem e o texto */
      padding-bottom: 100px;
      padding-top: 100px;
  }
  
  .btn {
      position: relative;
      top: 150px ;
      right: 300px;
      background-color: #f00101;
      color: white;
  }
  
  .promocoes{
      background-color: #f00101;
      color: white;
      font-family: "Inter , sans serif";
      font-size: 15px;
      padding-top: 100px;
      text-align: center;
  }
  }
  
  



